@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.custom-block {
  @apply bg-zinc-900 bg-opacity-70 p-2 rounded-2xl;
}

.custom-block-border {
  @apply bg-zinc-900 bg-opacity-70 p-2 rounded-2xl border border-gray-600 border-opacity-40;
}
